<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Level </th>
        <td mat-cell *matCellDef="let element"> {{element.level}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title. </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef> Text </th>
        <td mat-cell *matCellDef="let element"> {{element.text}} </td>
    </ng-container>
    <ng-container matColumnDef="isRead">
        <th mat-header-cell *matHeaderCellDef> Is read </th>
        <td mat-cell *matCellDef="let element"> {{element.isRead}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <ng-container *appShowIfAuth>
                <button *ngIf="!element.isRead else unreadTemplate"
                        mat-raised-button color="primary" (click)="markRead(element.id, true)">Mark as read</button>
                <ng-template #unreadTemplate>
                    <button
                            mat-raised-button color="primary" (click)="markRead(element.id, false)">Mark as unread</button>
                </ng-template>
            </ng-container>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>