<!-- <div class="grid" 
[ngStyle]="{'grid-template-columns': 'repeat('+ (size$ | async) +', 1fr)'}">
    <div 
    class="item"
    *ngFor="let item of items$ | async">
        {{item.x}} {{op$ | async}} {{item.y}}
    </div>
</div> -->

<div 
*ngIf="vm$ | async as vm else waitTemplate"
class="grid"[ngStyle]="{'grid-template-columns': 'repeat('+ vm.size +', 1fr)'}">
    <div 
    class="item"
    *ngFor="let item of vm.items">
        {{item.x}} {{vm.op}} {{item.y}}
    </div>
</div>
<ng-template #waitTemplate>
    waiting...
</ng-template>